button {
    background-color: #0078d4;
    color: #ffffff;
    border: none;
    font-size: 24px;
    padding: 10px 25px;
}
button:hover {
    background-color: #026ec1;
}
h1 {
    font-size: 30px;
    padding: 0px 15px;
}
h2 {
    color: #0078d4;
    font-size: 24px;
    padding: 5px 15px;
}